*

# White list
## source files
!*.cc
!lib
!lib/dsl
!test
!test/dsl
!src
!*.py
!*.sh

## header files
!*.h
!include
!include/dsl

## Other files
!.gitignore
!CMakeLists.txt
!README.md
!python/
!scripts/
!examples/
!examples/reverse.json
!examples/dot.json
!examples/gcj-round1a-2008-a.json
