*

# White list
## source files
!*.cc
!lib
!lib/dsl
!test
!test/dsl
!src
!*.py
!*.sh

## header files
!*.h
!include
!include/dsl

## Other files
!.gitignore
!CMakeLists.txt
!README.md
!python/
!scripts/
!scripts/do_test
!model/
!model/model.dat
!dataset/
!dataset/dataset.json
!examples/
!examples/reverse.json
!examples/dot.json
