*
!*/
!/.gitignore
!/README.md
!/images/*.png
!/DeepCoder_Utils
!/requirements.txt
!/*.ipynb
!/src/*.py
!/test/*.py
!/bin/*.bash
!/examples/**/*.ipynb
!/examples/**/trained-model/*.npz
!/examples/**/trained-model/*.pickle
